@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ocultar scrollbar en navegadores modernos */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }