@tailwind base;
@tailwind components;
@tailwind utilities;
/* Oculta la scrollbar en navegadores modernos */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  /* Oculta la scrollbar en otros navegadores */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  
  @keyframes entrarIzq{
    from{
      transform: translateX(-200%);
      background-color:rgb(192,38,211);
    }
    to{
      transform: translateX(0);
    }
  }
  .banner-coder {
    display: block;
    animation: entrarIzq 1s ease-in-out forwards;
  }

  @keyframes entrarDer{
    from{
      transform: translateX(70%);
      background-color:rgba(191, 38, 211, 0.3);
    }
    to{
      transform: translateX(0);
    }
  }
  .banner-designer {
    display: block;
    animation: entrarDer 1s ease-in-out forwards;
    
  }
  